@media (min-width: 576px) {
  /* Config para celulares */
  .container {
    display: block; /* Organiza os itens em coluna */
  }
}
@media (min-width: 768px) {
  /* Config para tablets */
  .container {
    display: flex; /* Organiza os itens em linha */
  }
}
@media (min-width: 992px) {
  /* Config para desktops */
  .container {
    display: flex; /* Organiza os itens em linha */
    justify-content: space-between; /* Espaço entre os itens */
  }
}
@media (min-width: 1200px) {
  /* Config para desktops grandes */
  .container {
    display: flex; /* Organiza os itens em linha */
    justify-content: space-between; /* Espaço entre os itens */
    padding: 0 20px; /* Adiciona padding nas laterais */
  }
}
